.control-navbar-logo {
  width: 10%;
}
.bg-header-box {
  //background: image-url("banner-bg.png") no-repeat ;
  background: #091b46;
}
.sidebar-text-active {
  background: #2b3f4e;
  color: white;
}
